
#whoweare {
	.img {
		margin-top: 75px;
	}
}

#whatwedo {
	.info_square {
		&:nth-child(n + 3) {
			margin-top: 125px;
		}
		.title {
			min-width: 75%;
			height: 172px;
		}
	}
}
#contactus {
	.contact_info_wrap {
		padding: 90px 80px;
		position: relative;
		top: -190px;
	}
}
