a {
	text-decoration: none;
	color: inherit;
	&:hover {
		color: $color_blue;
	}
}
input,
textarea {
	box-sizing: border-box;
}
nav {
	ul {
		padding: 0;
		list-style: none;
		li {
			margin: 0;
		}
	}
}
// Sticky Footer
#page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	> main {
		flex-grow: 1;
	}

	#content {
		min-height: 100%;
	}
}
img {
	max-width: 100%;
}
.screen-reader-text {
	display: none;
}
.hide {
	display: none;
}
.btn_wrap {
	margin-top: 40px;
	&.center {
		display: flex;
		justify-content: space-around;
	}
	> .btn {
		margin-top: 0;
		+ .btn {
			margin-left: 20px;
		}
	}
}
a {
	img {
		outline: none !important;
	}
	&:hover {
		text-decoration: none;
	}
	&:active {
		outline: none !important;
	}
}


// FIXME make this a mixin
.btn,
.button {
	height: 55px;
	padding-left: 40px;
	padding-right: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	font-family: 'Circular Std Bold';
	font-size: 21px;
	box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
	color: $color_white;
	background-color: $color_red;
	cursor: pointer;
	border: 0 none transparent;
	&:hover {
		text-decoration: none;
		background-color: $color_black;
		color: $color_white;
	}
	&.button-light {
		color: $color_black;
		background-color: $color_grey;
		&.color-accent {
			color: $color_red;
		}
		&:hover {
			color: $color_white;
			background-color: $color_black;
		}
	}
}
$element_height: 75px;
.wpcf7 {
	.wpcf7-form {
		p {
			margin-top: 0;
			+ p {
				margin-top: 30px;
			}
		}
	}
	.wpcf7-form-control-wrap {
		display: flex;
		+ .wpcf7-form-control-wrap {
		}
	}
	.wpcf7-textarea,
	.wpcf7-text {
		width: 100%;
		background-color: transparent;
		border: 0 none transparent;
		border-bottom: 1px solid $color_grey;
		color: $color_black;
		height: 75px;
		line-height: 75px;
		font-size: 18px;
		padding-left: 30px;
		&:focus {
			outline: none;
			border-bottom-color: $color_black;
		}
	}
	.wpcf7-textarea {
		height: 150px;
		line-height: 1.4em;
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.wpcf7-submit {
		background-color: $color_light_blue;
		font-weight: 800;
		font-size: 18px;
		color: $color_white;
		border: 0 none transparent;
		min-width: 200px;
		padding: 0 30px;
		height: 70px;
	}
}
/* Custom Styles */
%overlay_title {
	display: flex;
	align-items: center;
	padding-left: 40px;
	padding-right: 20px;
	background-color: $color_blue;
	color: $color_white;
	min-height: 200px;
}
.overlay_title {
	@extend %overlay_title;
}
$title_overlap: 40px;
.title_overlay_wrapper {
	display: flex;
	position: relative;
	&.title_right {
		.img_wrap {
			position: relative;
			margin-left: 0;
			width: calc(100% - #{$title_overlap});
		}
		.title {
			text-align: right;
			padding-right: 50px;
			left: auto;
			right: 0;
		}
	}
	.title {
		@extend %overlay_title;
		position: absolute;
		top: 50px;
		left: 0;
	}
	.img_wrap {
		object-fit: cover;
		object-position: center;
		width: calc(100% - #{$title_overlap});
		margin-left: $title_overlap;
	}
}

$transition_timer: 300ms;
#masthead {
	@extend .container;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: $lg_side_margin;
	padding-right: $lg_side_margin;
	padding-top: 50px;
	transition: padding $transition_timer ease-in-out, background-color $transition_timer ease-in-out;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	background-color: #fff;
	+ #content {
		margin-top: 200px;
		position: relative;
	}
	&.collapsed {
		margin-top: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		top: 0;
		z-index: 3;
		.logo {
			height: 40px;
		}
	}
	.header_navigation {
		display: flex;
		align-items: center;
	}
	.menu_close_x,
	.mobile_bars {
		display: none;
		cursor: pointer;
	}
	.logo {
		height: 100px;
		transition: height $transition_timer ease-in-out;
		> img {
			max-height: 100%;
		}
	}
	.menu {
		display: flex;
		list-style-type: none;
		li {
			margin-top: 0;
		}
		.menu-item + .menu-item {
			margin-left: 80px;
		}
	}
}
#mastfooter {
	background-color: $color_black;
	color: $color_white;
	margin-top: 145px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.site-info {
		@extend .container;
		display: flex;
		justify-content: space-between;
	}
	.footer-menu {
		display: flex;
	}
	a {
		color: $color_white;
		&:hover {
			color: $color_blue;
		}
	}
}
section {
	+ section {
		margin-top: 100px;
	}
}
#cover_image {
	height: calc(90vh - 200px);
	.img_wrap {
		overflow: hidden;
	}
}
#whoweare {
	margin-top: 100px;
	.content {
		margin-top: 125px;
	}
}
#whatwedo {
	margin-top: 125px;
	.title {
		text-align: center;
		margin-bottom: 40px;
		color: $color_blue;
	}
	.info_square {
		position: relative;
		$cross_height: 40px;
		$cross_width: 10px;
		$cross_color: #fff;
		$cross_box_size: 60px;
		&.js_clicked_open {
			.info_square_inner {
				left: 5vw !important;
				max-width: 90vw !important;
				margin-top: 25px !important;
				margin-bottom: 25px !important;
			}
			.title {
				padding: 20px 20px 0 20px !important;
			}
		}
		.plus {
			width: $cross_box_size;
			height: $cross_box_size;
			position: absolute;
			right: 0;
			bottom: 0;
			background-color: $color_light_blue;
			&:after,
			&:before {
				content: '';
				background-color: $cross_color;
				position: absolute;
			}
			&:before {
				height: $cross_height;
				width: $cross_width;
				left: ($cross_box_size * 0.5) - ($cross_width * 0.5);
				top: ($cross_box_size * 0.5) - ($cross_height * 0.5);
			}
			&:after {
				width: $cross_height;
				height: $cross_width;
				top: ($cross_box_size * 0.5) - ($cross_width * 0.5);
				left: ($cross_box_size * 0.5) - ($cross_height * 0.5);
			}
		}
		&.js_clicked_open {
			margin-top: 0 !important;
			position: fixed;
			z-index: 10;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: auto;
			height: auto;
			max-width: none;
			margin: 0;
			overflow-y: scroll;
			background-color: $color_tranlucent_black;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			&:after { display: none; }
			.info_square_inner {
				left: 25vw;
				margin-top: 100px;
				margin-bottom: 100px;
				max-width: 50vw;
				position: relative;
				flex-direction: column;
			}
			.img {
				padding: 0;
				width: 100%;
			}
			.title {
				position: static;
				height: auto;
				background-color: $color_black;
				padding-top: 90px;
				width: 100%;
				padding-left: 100px;
				justify-content: flex-start;
				margin: 0;
			}
			.content {
				margin: 0;
				height: auto;
				padding: 30px 100px 95px 100px;
				position: static;
				background-color: $color_black;
			}
			.plus {
				display: none;
			}
		}
		.info_square_inner {
			display: flex;
		}
		.img {
			padding: 50px 60px 60px 50px;
			height: calc_vw(380);
			object-fit: cover;
			object-position: center;
		}
		.title {
			text-align: left;
			position: absolute;
			color: $color_white;
			font-weight: bold;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding-left: 80px;
			padding-right: 40px;
			background-color: $color_tranlucent_black;
			left: 0;
			top: 0;
		}
		.content {
			position: absolute;
			bottom: 0;
			overflow: hidden;
			height: 0;
			background-color: $color_black;
			color: $color_white;
		}
	}
}
body.js_clicked_open {
	overflow: hidden;
}
#contactus {
	margin-top: 160px;
	.contact_form_wrapper {
		margin-top: 50px;
	}
	.wpcf7 {
		margin-top: 50px;
	}
	.address_background_img {
		width: 100%;
		margin-top: 180px;
	}
	.contact_info_wrap {
		background-color: $color_tranlucent_black;
		color: $color_white;
	}
}
