h1 {
	font-size: 45px;
}
h2 {
	font-size: 36px;
}
h3 {
}
h4 {
	font-size: 21px;
}
.wpcf7 {
	.wpcf7-submit {
		width: 100%;
	}
}

#masthead {
	padding-left: 20px;
	padding-right: 20px;
	.logo {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
		.menu_close_x {
		}
	.menu_close_x {
		height: 115px;
		display: block;
		position: fixed;
		left: 100%;
		width: 60px;
		top: 0;
		&.js_clicked_open {
			left: calc(100% - 50px);
			z-index: 10;
		}
		.cross {
			width: 30px;
			height: 2px;
			background-color: $color_blue;
			position: absolute;
			left: 10px;
			top: 50%;
			transform: translateY(-50%) rotate(45deg);
			+ .cross {
				transform: translateY(-50%) rotate(135deg);
			}
		}
	}
	.menu-header-container {
		height: 100vh;
		background-color: $color_light_blue;
		position: fixed;
		top: 0;
		right: 0;
		transform: translateX(100%);
		transition: transform 400ms ease-in-out;
		width: 300px;
		.menu-item {
			height: 115px;
			border-bottom: 1px solid $color_grey;
			color: $color_white;
			padding-left: 30px;
			display: flex;
			align-items: center;
		}
		&.js_clicked_open {
			transform: translateX(0%);
		}
	}
	.header_navigation {
		display: flex;
		align-items: center;
		.mobile_bars {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
			padding: 25px;
			.bar {
				width: 30px;
				height: 4px;
				background-color: $color_blue;
				+ .bar {
					margin-top: 4px;
				}
			}
		}
	}
	.menu {
		justify-content: flex-end;
		flex-direction: column;
		.menu-item + .menu-item {
			margin-left: 5px;
		}
	}
}
#mastfooter {
	.left_section {
		display: none;
	}
}
#whoweare {
	.content_part {
		order: -1;
	}
}
#whatwedo {
	.info_square {
		height: 320px;
		&:after {
			font-size: 50px;
		}
		&.js_clicked_open {
			.content {
				padding: 20px;
			}
			.info_square_inner {
				max-width: 80vw
			}
		}
		+ .info_square {
			margin-top: 30px;
		}
		.title {
			padding: 30px;
			justify-content: flex-start;
		}
	}
}
#pre_contactus {
	.splash_image_wrapper {
		max-height: 75vh;
	}
}
#contactus {
	.contact_info_wrap {
		padding: 45px 40px;
	}
}
