$color_black: #231f20;
$color_tranlucent_black: rgba(45, 41, 42, .9);
$color_red: red;
$color_white: #FFF;
$color_grey: #CACACA;
$color_blue: #005995;
$color_light_blue: #10a5dd;

@function calc_vw($el_width, $screen_width: 1400) {
	@return $el_width / $screen_width * 100vw;
}
